@charset "UTF-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body{
	width: 1200px;
	margin: 0 auto;
	font-family: 'Pretendard-Regular', sans-serif;
	background: #f2f2f2;
}

/* 장바구니 목록 스타일 */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
}

/* 입력 필드 스타일 */
input[type=text] {
  padding: 8px;
  border: 1px solid #ccc;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #3e8e41;
}

#quantity {
	width: 40px;
}