@charset "UTF-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body{
	width: 1200px;
	margin: 0 auto;
	font-family: 'Pretendard-Regular', sans-serif;
	background: #f2f2f2;
}

a { text-decoration: none; color: black;}

.bt{
	height: 100vh; 
	display: flex; 
	justify-content: space-evenly; 
	align-content: center;
	text-align: center; 
	font-size: 90px; 
	font-weight: bold;
}
.bt a {
	display: block; 
	line-height: 450px;
}
#admin{
	margin:auto 0; 
	width: 500px; 
	height: 500px; 
	background:#007bff;
	color: #fff;
	border-radius: 25px;
}
#cs{
	margin:auto 0; 
	width: 500px; 
	height: 500px; 
	background:#007bff;
	color: #fff;
	border-radius: 25px;
}